<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>
 
<p>
  <strong>Ime:</strong>
  <%= @user.ime %>
</p>

<p>
  <strong>Prezime:</strong>
  <%= @user.prezime %>
</p>

<p>
  <strong>Adresa:</strong>
  <%= @user.adresa %>
</p>