<p>
  <strong>E-mail:</strong>
  <%= @article.email %>
</p>
 
<p>
  <strong>Ime:</strong>
  <%= @article.ime %>
</p>

<p>
  <strong>Prezime:</strong>
  <%= @article.prezime %>
</p>

<p>
  <strong>Adresa:</strong>
  <%= @article.adresa %>
</p>