


<div class="profilparagraf">
	<p class="profilparagraf">Ime Restorana: <%=@foodndrink.ResName%><br></p>
	<p class="profilparagraf">Hrana: <%=@foodndrink.food%><br></p>
	<p class="profilparagraf">Pice: <%=@foodndrink.drink%><br></p>
	<p class="profilparagrafEdit"><%= link_to 'Back', user_path %>
	
</div>